[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
numpy = "*"

[dev-packages]
pre-commit = "*"
pytest = "*"
black = "*"
ipykernel = "*"
nox = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"
